@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply dark:bg-black bg-white;
		@apply dark:text-white text-black;
	}

	.ce-toolbar__plus {
		color: black;
	}

	.dark .ce-toolbar__plus {
		color: white;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	overflow-x: hidden;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1280px;
	padding: 0 18px;
	margin: 0 auto;
}

.grad {
	position: absolute;
	border-radius: 100%;
	opacity: 0.5;
	mix-blend-mode: screen;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}
.dark .grad {
	opacity: 0.6;
}
.grad.grad-1 {
	width: 700px;
	height: 700px;
	z-index: -2;
	left: 60%;
	top: 40%;
	background: #7928ca;
	mix-blend-mode: lighten;
	animation-duration: 11s;
	animation-name: grad-1-anim;
}
.grad.grad-2 {
	width: 600px;
	height: 600px;
	z-index: -1;
	left: 50%;
	top: 60%;
	background: #ff0080;
	animation-duration: 11s;
	animation-name: grad-2-anim;
	animation-direction: reverse;
}
.grad.grad-3 {
	width: 900px;
	height: 500px;
	z-index: -3;
	left: 30%;
	top: 50%;
	background: #0070f3;
	animation-duration: 11s;
	animation-name: grad-3-anim;
}
@keyframes grad-1-anim {
	0% {
		transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
	}

	25% {
		transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
			rotate(80deg) translateX(30%);
	}

	50% {
		transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
	}

	75% {
		transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
			rotate(240deg) translateX(15%);
	}

	to {
		transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
	}
}
@keyframes grad-2-anim {
	0% {
		transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
	}

	25% {
		transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
			rotate(110deg) translateX(-5%);
	}

	50% {
		transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
	}

	75% {
		transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
			rotate(300deg) translateX(-10%);
	}

	to {
		transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
	}
}
@keyframes grad-3-anim {
	0% {
		transform: translateY(-50%) translateX(-50%) translateX(-15%)
			translateY(10%);
	}

	20% {
		transform: translateY(-50%) translateX(-50%) translateX(20%)
			translateY(-30%);
	}

	40% {
		transform: translateY(-50%) translateX(-50%) translateX(-25%)
			translateY(-15%);
	}

	60% {
		transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
	}

	80% {
		transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
	}

	to {
		transform: translateY(-50%) translateX(-50%) translateX(-15%)
			translateY(10%);
	}
}
@media (max-width: 550px) {
	.grad.grad-1 {
		width: 400px;
		height: 400px;
	}
	.grad.grad-2 {
		width: 300px;
		height: 300px;
	}
	.grad.grad-3 {
		width: 200px;
		height: 200px;
	}
}
