@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply dark:bg-black bg-white;
		@apply dark:text-white text-black;
	}

	.ce-toolbar__plus {
		color: black;
	}

	.dark .ce-toolbar__plus {
		color: white;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	overflow-x: hidden;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1280px;
	padding: 0 18px;
	margin: 0 auto;
}
